.features-section {
    background-size: cover;
    background-color: var(--Accent, #FAF9F6);
    background-position: center;
    font-family: Poppins, sans-serif;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    position: relative;
    padding: 0% 10% 5% 10%; /* top right bottom left */
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

lucide-icon {
    border-radius: 50%;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.Zap {
    color: #9810fa;
}

.Heart {
    color: #fa2c37;
}

.Target {
    color: #165dfb;
}

.Smartphone {
    color: #00a63e;
}

.title-centered {
    display: block;
    text-align: center;
    font-size: clamp(1.7rem, 2vw, 2.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: 54px; 
    letter-spacing: -1.39px;
    color: #000000;
    margin-bottom: 40px;
}

.section-paragraph {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
    letter-spacing: -0.69px;
    color: #000000;
    margin-top: 10px;
}

span {
    color: #7CB518;
    font-weight: 600;
}

p {
    text-align: center;
    margin: 0 auto;
}

h2 {
    margin: 5rem auto;
    color: #7CB518;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    padding-bottom: 2rem;
}

.circles-containers {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
