.features-section {
    background-size: cover;
    background-position: center;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    position: relative;
    padding: 0% 10% 5% 10%; /* top right bottom left */
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.title-centered {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; 
    letter-spacing: -1.39px;
    color: #000000;
    margin-bottom: 40px;
}

.section-paragraph {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
    letter-spacing: -0.69px;
    color: #000000;
    margin-top: 10px;
}

span {
    color: #7CB518;
    font-weight: 600;
}

p {
    text-align: center;
    margin: 0 auto;
}

h2 {
    margin: 5rem auto;
    color: #7CB518;
}

.circles-containers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 900px;
  flex-wrap: wrap;
  position: center;
  margin: 0 auto;
  margin-top: 5rem;
}

.cta-button {
    display: inline-flex;
    height: 3rem;
    width: 10rem;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 13px;
    border-color: transparent;
    background: var(--Brand, #7CB518);
    box-shadow: 0 4px 8px 0 rgba(101, 92, 128, 0.30);
    color: white;
    margin: 0 auto;
    margin-top: 5rem;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
}