.form-section {
    background: var(--Accent, #FAF9F6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 10rem;
    min-height: 500px;
    z-index: 1;

    .green-background {
        display: grid;
        background: #5A850F;
        width: 100%;
        grid-template-columns: 30% 70%;
    }
}

.form {
    padding: 40px;
    flex: 1;
    gap: 30px;
    max-width: 70rem;
    z-index: 6;

    h2 {
        color: #FFF;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 113%; /* 72.32px */
        letter-spacing: -1.92px;
        margin-bottom: 20px;    
    }

    label {
        color: #FFF;
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 55%;
        margin-bottom: 5px;
    }

    input {
        border-radius: 24.5px;
        background: #F6F7FA;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border-color: transparent;
        font-family: Poppins, sans-serif;
    }

}

form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right:25%;
    justify-content: flex-start;
    align-items: center;
    gap: 60px; 
}

.required {
    font-size: 14px;
    font-weight: 400;
}

/* Campos de ancho completo (Nombre) */
.form-group-full {
    width: 100%;
}

/* Fila de 2 Columnas (Número y Email) */
.form-group-row {
    display: flex;
    gap: 20px; /* Espacio entre los dos campos (Número y Email) */
    width: 100%;
}

.form-group {
    flex: 1; /* Permite que cada campo ocupe la mitad del espacio */
    display: flex;
    flex-direction: column;
}

input.p-inputtext {
    border-radius: 24.5px;
    background: #F6F7FA;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none; /* Usa border en lugar de border-color: transparent */
    padding: 1rem; /* Ajusta el padding para una buena altura */
    width: 100%; /* El input ocupa todo el ancho del form-group */
}

.submit-button {
    background: #EAF45D;
    color: var(--Brand, #7CB518);
    border: none;
    border-radius: 24.5px;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.main-image {
    left: 0;
    bottom: 0;
    position: absolute;
    flex: 0 0 400px;
    margin: 0;
    z-index: 6;
}

.image {
    position: relative;
    flex: 1;
}
