<div class="description-diet-section">
    <div class="description-section">
        <div class="image-column">
            <img class="main-image" src="/assets/images/flexing-woman.png" alt="Mujer flexionando sus músculos">
            <div class="reviews-overlay">
                <p class="reviews-title">Our Reviewers</p>
                <div class="review-bubbles">
                    <div *ngFor="let reviewer of reviewers" class="bubble" [style.background-image]="'url(' + reviewer.avatar + ')'"></div>
                    <span class="review-count">12k+</span>
                </div>
            </div>
        </div>
        <div class="text-content-column">
            <div class="title-centered">
                <h2>Transformacion <br> Real y Duradera</h2>
                <p class="section-paragraph">Con 15 años de experiencia en el mundo del fitness y la <br> nutrición, <span>he podido comprobar conmigo misma cada <br> una de mis estrategias.</span></p>
            </div>
            
            <div class="description-content-text">
                <p>Sé lo que se siente estar estancada, frustrada y <br> desesperada por no poder bajar de peso, incluso <br> comiendo poco o haciendo más ejercicio. <span>Conozco la <br> fatiga, los antojos, los problemas hormonales, la <br> depresión y esa relación tóxica con la comida.</span></p>
            </div>
            
            <button class="cta-button">Conocer más</button>
        </div>
    </div>
    <div class="diet-section">
        <div class="first-row">
            <div class="diet-title">
                <h1>LA DIETA INVERSA</h1>
                <p class="highlighted">La clave para un metabolismo saludable</p>
            </div>
            <div class="diet-description">
                <p>Método consite en aumentar tus calorías <br> y macros gradualmente <span class="parenthesis">(entre 80-150 <br> calorias por semana)</span> para lograr <br> resultados sorprendentes.</p>
            </div>
        </div>
        
        <div class="diet-cards">
            <div class="diet-card" *ngFor="let card of dietCards">
                <h4>{{card.title}}</h4>
                <p [innerHTML]="card.description"></p>
            </div>
        </div>
        <button class="cta-button">Conocer más</button>
    </div>
</div>