<div class="description-diet-section">
    <div class="description-section">
        <div class="image-column">
            <img class="main-image" src="/images/flexing-woman.png" alt="Mujer flexionando sus músculos">
            <div class="reviews-overlay">
                <p class="reviews-title">Our Reviewers</p>
                <div class="review-bubbles">
                    <div *ngFor="let reviewer of reviewers" class="bubble" [style.background-image]="'url(' + reviewer.avatar + ')'"></div>
                    <span class="review-count">12k+</span>
                </div>
            </div>
        </div>
        <div class="text-content-column">
            <div class="title-centered">
                <h2>Transformación <br> Real y Duradera</h2>
                <p class="section-paragraph">Con 15 años de experiencia en el mundo del <i>fitness</i> y la nutrición, <span>he podido comprobar conmigo misma cada una de mis estrategias.</span></p>
            </div>
            
            <div class="description-content-text">
                <p>Sé lo que se siente estar estancada, frustrada y desesperada por no poder bajar de peso, incluso comiendo poco o haciendo más ejercicio. <span>Conozco la fatiga, los antojos, los problemas hormonales, la depresión y esa relación tóxica con la comida.</span></p>
            </div>
            
            <app-button [label]="'Conocer más'" [styles]="'cta-button-description'" [sectionId]="'blog-section'">Conocer más</app-button>
        </div>
    </div>
    <div class="diet-section">
        <div class="first-row">
            <div class="diet-title">
                <h1>LA DIETA INVERSA</h1>
                <p class="highlighted">La clave para un metabolismo saludable</p>
            </div>
            <div class="diet-description">
                <p>Método consiste en aumentar tus calorías <br> y macros gradualmente <span class="parenthesis">(entre 80-150 <br> calorías por semana)</span> para lograr <br> resultados sorprendentes.</p>
            </div>
        </div>
        
        <div class="diet-cards">
            <div class="diet-card" *ngFor="let card of dietCards">
                <h4>{{card.title}}</h4>
                <p [innerHTML]="card.description"></p>
            </div>
        </div>
        <app-button [label]="'Conocer más'" [styles]="'cta-button-description'" [sectionId]="'blog-section'"></app-button>
    </div>
</div>