/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
    --surface-0: #ffffff; 
    --primary-color: #7CB518; 
    --primary-color-text: #ffffff;
    --p-menubar-item-gap: 0.5rem; 

    --p-menubar-item-padding: 0.75rem 1rem; 

    --p-menubar-base-item-padding: 0.75rem 1.25rem; 
}

body {
    margin: 0;
}